.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  opacity: 100;
  min-height: 4vh;
  padding: 3px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: calc(10px + 1vmin);
  color: white;
}

.userContent {
  margin-top: 6vh;
}

.userContent div {
  padding: 0.25em
}


.App-link {
  color: #61dafb;
}

.secondaryTogglable {
  margin: 30px 0;
  max-width: 300px;
  border: black;
  border-width: 3px;
}

.landingForms {
  margin: 30px 0;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
