.App {
  text-align: center;
}

header {
  background-color: #282c34;
  opacity: 100;
  min-height: 5vh;
  padding: 3px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: calc(10px + 1vmin);
  color: white;
}

.userContent {
  margin-top: 6vh;
}

.userContent div {
  padding: 0.25em
}


.App-link {
  color: white;
}

a {
  color: white;
}

a:hover { 
  color: #00F;
}

.secondaryTogglable {
  margin: 30px 0;
  max-width: 300px;
  border: black;
  border-width: 3px;
}

.landingForms {
  margin: 30px 0;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoList li {
  float: left;
}
